/*MURAL CASCADE STYLE SHEET*/

body{
    background-color: #F3FAF2;
}                  

.popover-title{
    background: #C5E3D0;
}
.popover{
  background: #EBF3F5;
}
li > div{
  display: inline-block;    
}      
/*Sidebar*/
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #C5E3D0;
    border-right: 1px solid #eee;
  }
}
/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{
  color: #000;
}
.page-header,
#blog > .media
{
  max-width: 700px;
  border-bottom: 3px solid #ddd;  
}
#blog > .media{            
  padding-top: 20px;
  padding-bottom: 20px;
}
.greenlink{
  color:#5cb85c;
}
.sidebar ul li{
  text-align: center;
}
.media-heading{
  font-style: italic;
}
.notificationbody{
  border-bottom: 1px solid #B0BAAF;
  padding-top: 10px; 
  padding-bottom: 10px;
}
.messageform{
  padding-top: 20px;
  max-width: 500px;
}
.navbar-form > .form-group{
  display:inline;
}
.navbar-form > .form-group > .input-group{
  display:table;
}
.popover{
    max-width:1000px;            
}
.popover-content {
    max-height: 400px;
    overflow:auto;
}
.txtcomment{
    resize:none;
}
