/*GENERAL TAMPLATE */
html {
    position: relative;
    min-height: 100%;
}
body {
    padding-top: 50px;
    margin-bottom: 30px;
    font-family: "Lucida Grande","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
    border: none;                                          
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}
.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    background-color: #f5f5f5;
}
.popover-content {
    max-height: 400px;
    overflow:auto;
}