<!-- PATHS ARE RELATED TO index.php-->
<!-- PLACE BOOTSTRAP AT THE END OF THE DOCUMENT, SO THE PAGES LOAD FASTER -->
<!-- <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<script type="text/javascript" src="../bootstrap/js/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="../bootstrap/js/bootstrap.min.js"></script>