<div class="starter-template">    
    <div id="alertsignupok" class="alert alert-success alert-dismissible fade in hide" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4>Bem-vindo a HE:tweets! Acesse o seu blog e crie seu mural. </h4>
    </div> 
    <div id="alertemailok" class="alert alert-success fade in hide alertok" role="alert" >                  
      <p class="lead">
        Um email foi enviado para você
        <span><span>
        <button type="button" class="btn btn-success btalertok">Ok</button>        
      </p>
    </div> 
    <div id="passok" class="alert alert-success fade in hide alertok" role="alert" >                  
      <p class="lead">
        A sua senha foi alterada com sucesso!
        <span><span>
        <button type="button" class="btn btn-success btalertok">Ok</button>        
      </p>
    </div> 
    <h1>A sua rede de contatos</h1>
    <p class="lead">
        Construa a sua rede de relacionamentos.
        <br> Descubra o que os seus amigos estão fazendo. <br>
        Reencontre as pessoas que você gosta de uma maneira diferente.
    </p>
</div> <!-- /.starter-template -->