<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="login.php">HE:tweets</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--
             <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
               <li><a href="#about">About</a></li>
               <li><a href="#contact">Contact</a></li>           
             </ul>-->
            <div class="row show-grid">
                <div class="col-sm-3">
                    <form id="formsearchuser" class="navbar-form navbar-left">
                        <div class="input-group">
                            <span style="width: 1%;" class="input-group-addon" data-toggle="tooltip" title="Encontre seus amigos" data-placement="bottom"><span class="glyphicon glyphicon-search"></span></span>
                            <input id="user" name="user" type="text" autofocus="autofocus" autocomplete="off" placeholder="Pesquise por alguém" class="form-control popupsearchusers pop"
                                title="Resultados" data-placement="bottom" data-trigger="manual" data-poload="../controller/searchuser.php">
                        </div>
                    </form>
                </div>
                
                <form id="loginForm1" name="loginForm1" onsubmit="" class="navbar-form" method="post" action="../controller/clogin.php" >
                    <div class="form-group">
                        <input value="" id="user" name="user" type="text" placeholder="Email ou Usuário" class="form-control" autocomplete="off">
                    </div>
                    <div class="form-group">
                        <input value="" id="password" name="password" type="password" placeholder="Senha" class="form-control" autocomplete="off">
                    </div>
                    <input id="op" name="op" type="hidden" value="signin" >
                    <button type="submit" class="btn btn-primary" >Entrar</button>
                </form>
                
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</nav><!-- /.navbar navbar-inverse navbar-fixed-top -->