<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="login.php">HE:tweets</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <!--
             <ul class="nav navbar-nav">
              <li class="active"><a href="#">Home</a></li>
               <li><a href="#about">About</a></li>
               <li><a href="#contact">Contact</a></li>           
             </ul>-->            
        </div><!-- /.navbar -->
    </div><!-- /.container -->
</nav><!-- /.navbar navbar-inverse navbar-fixed-top -->